@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Learn about Simple Hospital here.</h3>

<p>
    Welcome to Simple Hospital, where we are committed to providing you and your family with personalized care without compromise. For more than 75 years, we have been caring for residents throughout
    the Greater Mazapán area. Our patients are people first – we know them from school, church and the community. That’s the benefit of care from our warm, inviting community hospital as opposed to a
    large, unfamiliar medical center.
    <br />
    <br />
    Know that you are in good hands when you entrust your care to us. Our physicians, nurses and support staff are experts in their fields and passionate about caring for you. They will listen to you,
    take the time to get to know you, and understand your concerns. They will answer your questions and give you the information you need to make smart decisions about your care. Anchored by our core
    values of teamwork, compassion, excellence and integrity, our team utilizes their unparalleled knowledge and expertise to ensure that our patients receive the best-possible quality care.
    <br />
    <br />
    As a member of the Pacific Rim Health Network, we are now in the fortunate position of being able to expand our services in ways that make it easier to provide high-quality care close to home.
    Our affiliation gives us strength and stability in a time of great change in healthcare. Combining resources allows us to collectively invest in new facilities, advanced technology and superior talent.
    We share best practices among all three of our member hospitals, allowing each of us to expand our capabilities while improving quality, patient outcomes and operational performance.
    <br />
    <br />
    At Simple Hospital, we take care to put the patient at the center. We take pride in keeping people well, as well as treating the sick. We are here when you need us, and working even harder to keep you
    healthy and at home doing the things you enjoy most. As we like to say – we know you well!
    <br />
    <br />
    Be well,
    <br />
    <br />
    Karen White<br />
    President, Mazapán & New Rim Hospitals
</p>
